<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008883883523-234p6ld4bcj7h7b04g3svab0r84ga4nd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008883883523-234p6ld4bcj7h7b04g3svab0r84ga4nd</string>
	<key>API_KEY</key>
	<string>AIzaSyDAJXLuD4EFMOEk-XwzrxUXIXbAZAiI8t8</string>
	<key>GCM_SENDER_ID</key>
	<string>1008883883523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-020.neighborAid</string>
	<key>PROJECT_ID</key>
	<string>neighboraid-624ca</string>
	<key>STORAGE_BUCKET</key>
	<string>neighboraid-624ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008883883523:ios:8350081b64b76f39833836</string>
</dict>
</plist>